* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 480px;
}

.header {
  width: 100%;
  border: 2px solid red;
}

.header img {
  width: 2em;
  margin: 0.5em;
}

#trybewarts-header-title {
  width: auto;
}

.trybewarts-login {
  max-width: 100%;
  display: flex;
  width: 100%;
  border: 2px solid blue;
}

main {
  flex-direction: column;
}

#trybewarts-forms-logo {
  width: 100%;
  flex-direction: column;
}