* {
  margin: 0;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

body {
  background-color: #212529;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.entrar-btn {
  display: flex;
  margin: 0 5px;
  align-items: center;
}

.trybewarts-header-logo {
  width: 75px;
  margin: 10px 25px;
}

.trybewarts-login {
  display: flex;
  height: 100%;
  margin: 10px;
}

.trybewarts-login label {
  margin: 10px;
}

main {
  display: flex;
  flex-direction: column;
}

main form {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;

}

#trybewarts-forms-logo {
  display: flex;
  flex-direction: column;
  width: 20%;
}

#secao-input-familia {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

/* criando branch do nate */

